
body{
    background:#E5E5E5;
    font-family: 'Inter', sans-serif;
}
header{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 50px;
}
header img{
    position: relative;
    left: 50px;
}
main{
    position: absolute;
    width: 100%;
    height: 600px;  
}
section{
    position: absolute;
    left: 120px;
    top: 180px;
}
section  .msg-digitada input{
    width: 300px;
    border: none;
    background: #E5E5E5;
    font-size: 20px;
    
}
::placeholder{color:#0A3871;}
.info{
    position: relative;
    top: 220px;
    left: 20px;
    display: flex;
    opacity: 80%;
    font-size: 16px;
    color: gray;
    
}
.info p{
    margin-left: 10px;
    margin-top: 2px;
}
.info img{
    width: 20px;
    
}
.botao{
    position: absolute;
    top: 280px;
    width: 600px;
    display: flex;
    
}
.botao input{
    width: 328px;
    height: 57px;
    margin: 0px 10px;
    border-radius: 24px;
    border: solid 1px #0A3871;
}
.botao input:hover{
    background: #B0E0E6;
    border-color: #0A3871;
    font-size: 20px;
    cursor: pointer;
}
.btn{
    color: #fff;
    background: #0A3871;
}
.btn:hover{
    color: #000;
    border-color: #0A3871;
    background: #E5E5E5;
    font-size: 20px;
    transition: 1ms;
}
.msg-resultado{
    position: absolute;
    left: 900px;
    top: 50px;
    height: 544px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
}
.msg-resultado .aviso p{
    text-align: center;
    font-size: 20px;
    line-height: 120%;
    font-family: 'Inter';
    margin: 16px 0;
}
.msg-resultado .msg{
    margin: 16px 0px;
}
.msg-resultado .msg p{
    text-align: center;
    font-size: 20px;
    line-height: 120%;
    font-family: 'Inter';
    
}
footer{
    width: 99%;
    position: absolute;
    top: 600px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Inter';
    color: #0A3871;
    
    
}

.btn-copiar{
    width: 328px;
    height: 57px;
    margin: 0px 10px;
    border-radius: 24px;
    border: solid 1px #0A3871;
    display: none;
    position: relative;
    top: 480px;
    cursor: pointer;
    
}
section > .msg + input{
    width: 80%;
    position: absolute;
    left: 30px;
    display: none;
    border: none;
    height: 100px;
    
}
@media   (max-width:960px){
    .msg-resultado{
        left: 550px;
        height: 300px;
        top: 100px;
    }
    .msg-resultado .imagem{
        display: none;
    }
    .msg-resultado .aviso{
        position: relative;
        top: 80px;
        margin: 10px;
    }
    .msg-resultado .msg{
        position: relative;
        top: 80px;
        margin: 10px;
    }
    .botao{
        
        width: 500px;
        padding: 10px;
    }
    .botao input{
        width: 250px;
        height: 47px
    }
    .btn-copiar{
        top: 240px;
        width: 250px;
        height: 47px;
    }
    footer{
        
        width: 90%;
        margin-left: 50px;

    }

}
@media   (max-width:760px){
    .msg-resultado{
        width: 70%;
        left: 100px;
        top: 520px;
        height: 100px;
        margin: 20px;
        position: relative;
    }
    .msg-resultado .aviso{
        height: 30px;
        width: 70%;
        top: 10px;
        left: 60px;
        
        
    }
    .msg-resultado .aviso p, .msg-resultado .msg p{
        font-size: 18px;
        margin-top: 0px;
        
    }
    .msg-resultado .msg{
        
        font-size: 12px;
        width: 70%;
        top: 10px;
        left: 60px;
    }
    .msg-resultado #mensagem{
        
        height: 40px;
        margin-top: 10px;
        text-align: center;
    }
    .btn-copiar{
        top: 60px;
        left: 150px;
        width: 30%;
        height: 30px;
     
        
    }
  
    footer{
        display: none;
    }
    
   
}
@media (max-width:480px){
    header{
        
        margin-left: 30px;
    }
    section{
        position: relative;
    }
    .msg-resultado{
        top: 750px;
        width: 80%;
        left: 77px;
    }
    .botao{
        position: relative;
        right: 50px;
        width: 80%;
        top: 450px;
    }
    .info{
        position: relative;
        top: 430px;
        left: 2px;
    }
}
@media  (max-width:320px){
    section .msg-digitada{
        
        position: relative;
        right: 50px;
        width: 180px;
    }
    section .msg-digitada input{
        width: 200px;
    }
    .msg-resultado{
        left: 30px;
        width: 370px;
    }
    .msg-resultado .aviso {
        left: 20px;
    }
    .msg-resultado .msg{
        left: 20px;
    }
    .msg-resultado .aviso p, .msg-resultado .msg p{
        font-size: 20px;
    }
    .info{
        display: none;
    }
    .botao{
        
        display: inline;
        right: 110px;
        top: 400px;
        width: 80%;
        
    }
    .botao input{
        position: relative;
        width: 280px;
        margin-top: 30px;
        left: 40px;
        font-size: 24px;
    }
    .btn-copiar{
        left: 40px;
        width: 50%;
    }
}